@using MySite.Pages
@model Me
<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>A simple, clean, and responsive HTML invoice template</title>
</head>
<body>
    <div class="invoice-box">
        @Model.AboutTitle
    </div>
</body>
</html>